# Arquivos de saída
*.o
*.so
*.dll
*.exe
*.out
*.app
*.app/

# Diretórios de compilação
build-*
*_build

# Arquivos Qt
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# Arquivos Qt Creator
*.autosave

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
